{% extends 'base.html' %}
{% load crispy_forms_tags %} .
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
              <div class="jumbotron text-center">
                  <h1>Contact Us</h1>
              </div>
            {% if email_sent %}
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button class="close" aria-label="Close" type="button" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>Thanks for your email!</strong> We'll be in touch soon.
                </div>
            {%  endif %}
            <form role="form" action="{% url 'club:contact'%}" method="post">
                {% crispy form %}
            </form>

          <br><br>

          </div>
      </div>
{% endblock %}}
