<!-- Top Navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'club:index' %}" class="navbar-brand">Hoos Invent</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li><a href="#">About Us</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Current Projects<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'club:adroit' %}">ADROIT Assistive Device</a></li>
                    <li><a href="{% url 'club:wheels' %}">Automated Training Wheels</a></li>
                    <li><a href="{% url 'club:laser' %}">Laser Line Shield</a></li>
                    <li><a href="{% url 'club:sound' %}">Sound Wave Module</a></li>
                </ul>
            </li>
            <li><a href="#">Past Projects</a></li>
            <li><a href="#">Executive Board</a></li>
            <li><a href="{% url 'club:contact' %}">Contact Us</a></li>
        </ul>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
        <!-- /.navbar-collapse -->
</nav>
