{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
             <h1>{{ title }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1>{{ picture }}</h1>
        </div>
        <div class="col-sm-8">
            <p>
                {{ abstract }}
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <table style="width: 100%;border: 1px solid black">
            <tr>
                <th colspan="2"><center>Team</center></th>
            </tr>
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
            {% for name, id in team_members.items %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ id }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <div class="row">
        <h2>Further Reading:</h2>
        <ul>
            {% for reading in readings %}
                <li>{{ reading }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
